<!-- Signup Modal -->
 <li><a href="#" data-toggle="modal" data-target=".signup-modal">Sign up</a></li>

<div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Register </h3>
    </div>
    <div class="modal-body">
      <%= form_for(@user, url: signup_path) do |f|%>
        <p>
          <%= f.label(:name) %> <br>
          <%= f.text_field(:name, autofocus: true) %> <br>
          <span>*please ensure username is 6-30 characters long</span>
        </p>
        <p>
          <%= f.label(:password) %> <br>
          <%= f.text_field(:password)%><br>
          <span>*please ensure password is 6-30 characters long</span>
        </p>
        <p>
          <%= f.label(:email)%> <br>
          <%= f.text_field(:email)%><br>
          <span>*please ensure your email contains @ symbol</span>
        </p>
        <p>
          <%= f.submit("Register", class: "btn" )%>
        </p>
      <% end %>
    </div>
    <div class="modal-footer">
        Already a user?
        <a data-dismiss="modal" data-toggle="modal" data-target=".signup-modal">Sign in here</a>
    </div>

    </div>
  </div>
</div>



